name: Github Actions do build
on: [push]
jobs:
  Run-Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@e6e38bacfdf1a337459f332974bb2327a31aaf4b
      - name: Build with Gradle
        run: bash ./gradlew build
      - name: 'Upload Jar'
        uses: actions/upload-artifact@v2
        with:
          name: CoflSky-CI
          path: build/libs/CoflMod-1.0-all.jar